@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
    --bg-color: white;
    --red: #D44242;
    --green: rgba(0, 255, 102, 0.6);
    --white: #fafafa;
    --primary: #ffffff;
    --secondary: #F5F5F5;
    --black-op: rgba(0, 0, 0, 0.5);
}

body {
    background-color: var(--bg-color);
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    cursor: pointer;
    border: none;
    background: none;
}

.wrapper {
    width: 1190px;
    margin: auto;
    padding: 0 10px;
}

/* SupHeader */

.supheader {
    background-color: black;
    display: flex;
}

.supheader-content {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 12px 0;
}

.supheader-texts {
    display: flex;
}

.supheader-text {
    color: var(--white);
    font-size: 14px;
}

.supheader-link {
    padding-left: 8px;
    color: var(--white);
    font-weight: 600;
    font-size: 14px;
    text-decoration: underline;
}

.supheader-lang {
    position: absolute;
    display: flex;
    align-items: center;
    right: 0;
}

.supheader-lang-text {
    color: var(--white);
    font-size: 14px;
}

.supheader-lang-icon {
    width: 24px;
    height: 24px;
    padding-left: 5px;
}

/* Header */

.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 16px;
}

.header-content .logo {
    font-size: 24px;
    font-weight: 700;
}

.header-content .nav .nav-content {
    display: flex;
    align-items: center;
    gap: 48px;
    font-size: 16px;
}

.sub-content {
    display: flex;
    align-items: center;
}

.sub-content .input-content {
    display: flex;
    align-items: center;
    padding: 7px 12px 7px 20px;
    background-color: var(--secondary);
    border-radius: 4px;
}

.sub-content .input-content .input {
    min-width: 154px;
    border: none;
    outline: none;
    background-color: var(--secondary);
    font-size: 12px;
    margin-right: 34px;
}

.sub-content .input-content .input-icon {
    width: 24px;
    height: 24px;
}

.sub-buttons {
    margin-left: 24px;
    display: flex;
    align-items: center;
    gap: 16px;
}

.sub-btn-icon {
    width: 32px;
    height: 32px;
}

/* Product */

.product .navigation {
    margin: 85px 0;
    color: var(--black-op);
    font-size: 14px;
    display: flex;
    gap: 12px;
}

.product .navigation a:last-of-type {
    color: black;
}

.product-content {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.images-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.images-sup {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
}

.images-sup .item-image {
    width: 170px;
    height: 138px;
    background-color: var(--secondary);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.item-image-main {
    width: 500px;
    height: 600px;
    background-color: var(--secondary);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
} 

.info-content {
    display: flex;
    flex-direction: column;
}

.info-content .title {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    font-weight: 600;
}

.info-content .rating-content {
    display: flex;
    align-items: center;
    padding: 16px 0;
    font-size: 14px;
    color: var(--black-op);
}

.rating-content .rating {
    display: flex;
    align-items: center;
}

.rating-content .rating .rating-icon {
    width: 20px;
    height: 20px;
}

.rating-content .reviews {
    padding-left: 8px;
    padding-right: 16px;
    color: var(--black-op);
}

.rating-content .condition {
    margin-left: 16px;
    color: var(--green);
}

.info-content .price {
    font-size: 24px;
    line-height: 24px;
    letter-spacing: 3%;
    padding-bottom: 24px;
}

.info-content .description {
    font-size: 14px;
    padding-bottom: 24px;
    border-bottom: 1px solid var(--black-op);
}

.selection-title {
    font-size: 20px;
    font-weight: 400;
    padding-right: 24px;
}

.info-content .colors {
    display: flex;
    align-items: center;
    padding: 24px 0;
}

.selection-list {
    display: flex;
    align-items: center;
    gap: 8px;
}

.colors .selection-list .blue {
    width: 20px;
    height: 20px;
    background-color: #A0BCE0;
    border-radius: 100%;
    border: 2px solid black;
    cursor: pointer;
}

.colors .selection-list .red {
    width: 20px;
    height: 20px;
    background-color: #E07575;
    border-radius: 100%;
    cursor: pointer;
}

.sizes {
    display: flex;
    align-items: center;
    padding-bottom: 24px;
}

.sizes .selection-list .section-item {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid var(--black-op);
    border-radius: 4px;
    font-size: 14px;
    line-height: 21px;
    font-weight: 500;
    background-color: var(--bg-color);
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.sizes .selection-list .section-item:hover {
    background-color: var(--red);
    color: var(--white);
}

.info-content .buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 40px;
}

.info-content .buttons .cout-btns {
    display: flex;
    align-items: center;
}

.info-content .buttons .cout-btns .btn {
    width: 40px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black-op);
    background-color: var(--white);
    cursor: pointer;
    transition: all 0.05s ease-in-out;
}

.info-content .buttons .cout-btns .btn:hover {
    background-color: var(--red);
}

.info-content .buttons .cout-btns .btn:hover svg path {
    stroke: var(--primary);
}

.info-content .buttons .cout-btns .btn:first-child {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.info-content .buttons .cout-btns .btn:last-child {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.info-content .buttons .cout-btns .content {
    width: 80px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--black-op);
    border-bottom: 1px solid var(--black-op);
    font-size: 20px;
    font-weight: 500;
}

.info-content .buttons .buy-btn {
    padding: 10px 48px;
    background-color: var(--red);
    color: var(--white);
    border-radius: 4px;
    font-size: 16px;
    line-height: 24px;
}

.info-content .buttons .like-btn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid var(--black-op);
    border-radius: 4px;
}

.delivery-item {
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 24px 16px;
    border: 1px solid var(--black-op);
}

.delivery-item:first-child {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    padding-bottom: 16px;
    border-bottom: none;
}

.delivery-item:last-child {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    padding-top: 16px;
}

.delivery-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.del-title {
    font-size: 16px;
    font-weight: 500;
}

.del-description {
    font-size: 12px;
    font-weight: 500;
}
